<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <form id="form1" runat="server">
        <div  style="font-family:Arial">
            <fieldset style="width:350px">
                <legend>Contact Us</legend>
                <table>
                    <tr>
                        <td>

                            <b>Name:</b>
                        </td>
                        <td>
                            <asp:TextBox ID="txtName" Width="200px" runat="server"></asp:TextBox>
                        </td>
                        <td>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidtor1"
                                                        runat="server"
                                                        ErrorMessage="Name is required"
                                                        ControlToValidate="txtName"
                                                        Text="*"
                                                        ForeColor="Red"> </asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <b>Email:</b>
                        </td>
                        <td>
                            <asp:TextBox ID="txtEmail" Width="200px" runat="server"></asp:TextBox>
                        </td>
                        <td>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidtor1"
                                                        runat="server"
                                                        ErrorMessage="Email is required"
                                                        ControlToValidate="txtEmail"
                                                        Text="*"
                                                        ForeColor="Red">
                            </asp:RequiredFieldValidator>
                            <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server"
                                                            ErrorMessage="Please enter a valid email" ControlToValidate="txtEmail"
                                                            ForeColor="Redd">*</asp:RegularExpressionValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <b>Subject:</b>
                        </td>
                        <td>
                            <asp:TextBox ID="txtSubjet" Width="200px" runat="server"></asp:TextBox>
                        </td>
                        <td>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidtor1"
                                                        runat="server"
                                                        ErrorMessage="Subject is required"
                                                        ControlToValidate="txtSubject"
                                                        Text="*"
                                                        ForeColor="Red">
                            </asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <b>Comments:</b>
                        </td>
                        <td>
                            <asp:TextBox ID="txtComments" Width="200px" runat="server"></asp:TextBox>
                        </td>
                        <td>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidtor1"
                                                        runat="server"
                                                        ErrorMessage="Comments are required"
                                                        ControlToValidate="txtComments"
                                                        Text="*"
                                                        ForeColor="Red">
                            </asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <asp:ValidationSummary HeaderText="Please fix the following errors " ForeColor="Red" ID="ValidationSummary1" runat="server" />
                        </td>
                    </tr>
                    <tr>

                        <td colspan="3">
                            <asp:Label ID="Label1" runat="server" Font-Bold="true"></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <asp:Button ID="Button1" runat="server" Text="Submit" />
                        </td>
                    </tr>
                </table>

            </fieldset>
        </div>
        </form>
</body>
</html>
