@{ 
    ViewData["Title"] = "Index";

    <html>
    <head>
       <body>


         <form id ="form1" runat="server">
          <div style="font-family:Arial">
            <fieldset style="width:350px">
                <legend>Contact Us</legend>
                <table>
                    <tr>
                        <td>

                            <b>Name:</b>
                        </td>
                        <td>
                            <input id="txtName" type="text" Width="200" runat="server" />
                            <asp:TextBox ID="txtName" Width="200px" runat="server"></asp:TextBox>
                        </td>
                        <td>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidtor1"
                                runat="server"
                                ErrorMessage="Name is required"
                                ControlToValidate="txtName"
                                Text="*"
                                ForeColor="Red"
                                
                           > </asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <b>Email:</b>
                        </td>
                        <td>
                            <input id="txtEmail" type="text" Width="200" runat="server" />
                            <asp:TextBox ID="txtEmail"
                                         Width="200px"
                                         runat="server">
                            </asp:TextBox>
                        </td>
                        <td>
                            
                            <asp:RequiredFieldValidator ID="RequiredFieldValidtor1"
                                                        runat="server"
                                                        ErrorMessage="Email is required"
                                                        ControlToValidate="txtEmail"
                                                        Text="*"
                                                        ForeColor="Red">
                            </asp:RequiredFieldValidator>

                            <asp:RegularExpressionValidator ID="RegularExpressionValidator1" 
                                                            runat="server"
                                                            ErrorMessage="Please enter a valid email" 
                                                            ControlToValidate="txtEmail"
                                                            ForeColor="Redd">*</asp:RegularExpressionValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <b>Subject:</b>
                        </td>
                        <td>
                            <input id="txtSubject" type="text" Width="200" runat="server" />
                            <asp:TextBox ID="txtSubjet" Width="200px" runat="server"></asp:TextBox>
                        </td>
                        <td>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidtor1"
                                runat="server"
                                ErrorMessage="Subject is required"
                                ControlToValidate="txtSubject"
                                Text="*"
                                ForeColor="Red"
                                >
                            </asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <b>Comments:</b>
                        </td>
                        <td>
                            <input id="txtComments" type="text" Width="200" runat="server" />
                            <asp:TextBox ID="txtComments" Width="200px" runat="server"></asp:TextBox>
                        </td>
                        <td>
                            <asp:RequiredFieldValidator ID="RequiredFieldValidtor1"
                                runat="server"
                                ErrorMessage="Comments are required"
                                ControlToValidate="txtComments"
                                Text="*"
                                ForeColor="Red"
                                >
                            </asp:RequiredFieldValidator>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <asp:ValidationSummary HeaderText="Please fix the following errors " ForeColor="Red"  ID="ValidationSummary1"runat="server" />                     </td>
                    </tr>
                    <tr>

                        <td
                            colspan="3">
                            <asp:Label ID="Label1" runat="server" Font-Bold="true" ></asp:Label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <asp:Button ID="Button1" runat="server" Text="Submit" />
                            <input id="Button1" type="button" value="Submit" />
                        </td>
                    </tr>
                </table>

            </fieldset>
            </div>
        </form>
</body>
    </head>  
</html>      
}

<h2>Contact Page</h2>

<p>For support, please email us support@protonmail.com</p>